.container{
   background-color: gray;

}
.title h2{
  color: red;
}
.shapes{
  background-color: black;
  display: block;

}
.triangle{
 background-color: green;
 margin: 3px;
 display: inline-block;
 /*float: left;*/
}
.thetriangle{
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid white;

}
.square{
 background-color: blue;
 margin: 3px;
 display: inline-block;
 /*float: left;*/
}
.thesquare{
 height: 100px;
 width: 100px;
 background-color: white;
 margin-left:34px;
}
.rectangle{
 background-color: yellow;
 margin: 3px;
 display: inline-block;
 /*float: left;*/
}
.therectangle{
 height: 100px;
 width: 200px;
 background-color: white;
 }
.circle{
 background-color: red;
 margin: 3px;
 display: inline-block;
 /*float: left;*/
}
.thecircle{
 height: 100px;
 width: 100px;
 background-color: white;
 border-radius: 100px;
 margin-left: 33px;
}

.circltxt{
 display: inline-block;
}
.circle2{
 display: inline-block;
 margin: 30px;
height: 150px;
width: 150px;
border-radius: 75px;
text-align: center;

}
