.container{
   background-color: gray;

}
.title h2{
  color: red;
}
.shapes{
  background-color: black;
}
.triangle{
 background-color: green;
}
.square{
 background-color: blue;
}
.rectangle{
 background-color: yellow;
}
.circle{
 background color: red;
}
