.container{
   background-color: gray;

}
.title h2{
  color: red;
}
.shapes{
  background-color: black;

}
.triangle{
 background-color: green;
 margin: 3px;
 float: left;
}
.square{
 background-color: blue;
 margin: 3px;
 float: left;
}
.thesquare{
 height: 100px;
 width: 100px;
 background-color: white;
}
.rectangle{
 background-color: yellow;
 margin: 3px;
 float: left;
}
.circle{
 background-color: red;
 margin: 3px;
 float: left;
}

